# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Create my-r-e-p-l'
      'command': 'my-r-e-p-l:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'my-r-e-p-l'
      'submenu': [
        {
            'label': 'Create'
            'command': 'my-r-e-p-l:create'
        }
        {
          'label': 'Repl Python'
          'command': 'my-r-e-p-l:Repl Python'
        }
        {
          'label': 'Repl Ocaml'
          'command': 'my-r-e-p-l:Repl Ocaml'
        }
        {
          'label': 'Repl Bash'
          'command': 'my-r-e-p-l:Repl Bash'
        }
        {
          'label': 'Repl Coffee'
          'command': 'my-r-e-p-l:Repl Coffee'
        }
        {
          'label': 'Repl R'
          'command': 'my-r-e-p-l:Repl R'
        }
        {
          'label': 'Interprete File'
          'command': 'my-r-e-p-l:interprete'
        }
        {
          'label': 'Interprete Selection'
          'command': 'my-r-e-p-l:toggle'
        }
      ]
    ]
  }
]
