# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-y': 'my-r-e-p-l:toggle',
  'ctrl-y ctrl-i': 'my-r-e-p-l:createFromFile',
  'ctrl-y ctrl-f': 'my-r-e-p-l:interprete',
  'ctrl-y ctrl-s': 'my-r-e-p-l:create'
