# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
    'ctrl-y ctrl-d': 'Repl:create',
    'ctrl-y ctrl-o': 'Repl:Repl Ocaml',
    'ctrl-y ctrl-p': 'Repl:Repl Python3',
    'ctrl-y ctrl-b': 'Repl:Repl Bash',
    'ctrl-y ctrl-c': 'Repl:Repl Coffee',
    'ctrl-y ctrl-r': 'Repl:Repl R',
    'ctrl-y ctrl-n': 'Repl:Repl Node',
    'ctrl-y ctrl-g': 'Repl:Repl Gdb',

    'ctrl-y ctrl-s':'Repl:interpreteSelect',
    'ctrl-y ctrl-f': 'Repl:interpreteFile'
